.btn-primary {
  background-color: $button-color;
  border: none;
  color: $transparent-text;
  @include box-shadow();
  &:hover {
    background-color: darken($button-color, 25%);
    border: none;
  }
  a:hover {
    color: darken($transparent-text, 25%);
  }
}
