// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif !important;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-shadow: 0px 5px 15px rgba(150, 150, 150, 0.75);

h1 {
  font-family: $montserrat;
  text-shadow: $text-shadow;
}

h2 {
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}
