option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: '/public'
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: HttpPath
    value: '/queue/receive'
  - option_name: APP_DEBUG
    value: true
  - option_name: APP_ENV
    value: production
  - option_name: APP_LOG
    value: syslog
  - option_name: CACHE_DRIVER
    value: file
  - option_name: MAIL_DRIVER
    value: mailgun
  - option_name: MAIL_HOST
    value: smtp.mailgun.org
  - option_name: MAIL_PORT
    value: 2525
  - option_name: MAIL_USERNAME
    value: postmaster@mg.nickmoncur.com
  - option_name: MAILGUN_DOMAIN
    value: mg.nickmoncur.com
  - option_name: USE_CRON
    value: true
  - option_name: AWS_REGION
    value: us-east-2

container_commands:
  01_writable_dirs:
    command: |
      chmod -R 770 /var/app/ondeck/storage/logs
