commands:
  01_install_gcc:
    command: 'yum install -y gcc-c++ make'
  02getNodeRepo:
    command: "curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -"
  03installNode:
    command: "yum install -y nodejs"
  04updateNpm:
    command: "npm install npm -g"
  05enableSudo:
    command: "echo Defaults:root \\!requiretty >> /etc/sudoers"
