container_commands:
  11-migrations:
    command: "php /var/app/ondeck/artisan migrate --force > /tmp/artisan-migrate.log"
  12-generate-key:
    command: "php /var/app/ondeck/artisan key:generate > /tmp/artisan-key.log"
  13-config-clear:
    command: "php /var/app/ondeck/artisan config:clear > /tmp/artisan-config.log"
  14-config-cache:
    command: "php /var/app/ondeck/artisan config:cache > /tmp/artisan-config.log"
