container_commands:
  11-migrations:
    command: "php /var/app/ondeck/artisan migrate --force"
  12-generate-key:
    command: "php /var/app/ondeck/artisan key:generate"
  13-config-clear:
    command: "php /var/app/ondeck/artisan config:clear"
  14-config-cache:
    command: "php /var/app/ondeck/artisan config:cache"
