.image-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: 0;
  div {
    height: 100vh;
    min-width: 100vw;
  }
  .fixed {
    div {
      background: fixed center / cover;
    }
  }
}
.top-text-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  h1 {
    margin-bottom: -35vh;
  }
  .scroll-wrapper {
    margin-top: -20vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    .icon {
      display: flex;
      justify-content: center;
      img {
        height: 15px;
        position: absolute;
      }
    }
    .cta-wrapper {
      margin-top: 25px;
    }
  }
}
.main-section-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 10;
  .main-section {
    background-color: $body-bg;
    padding: 100px 0;
    position: relative;
    div:not(.btn) {
      padding-bottom: 0 !important;
    }
    &.fixed {
      div {
        background: fixed center / cover;
      }
    }
  }
  .image {
    min-height: 300px;
  }
  .projects {
    padding: 50px 0;
  }
  .img-wrapper {
      img {
        max-height: 125px;
        max-width: 90%;
        padding: 25px;
      }
  }
  .contact-form {
    padding-bottom: 75px;
  }
}
@include media-breakpoint-down(xs) {
  .top-text-wrapper {
    h1 {
      margin-bottom: -15vh;
    }
    .scroll-wrapper {
      margin-top: -15vh;
    }
  }
}
@media(max-height: 400px) {
  .top-text-wrapper {
    h1 {
      margin-bottom: 0 !important;
    }
    .scroll-wrapper {
      margin-top: 0 !important;
    }
  }
}
