.image-wrapper {
  position: absolute;
  z-index: 0;
  img, .progressive-image-placeholder {
    height: 100vh;
    min-width: 100vw;
    opacity: 0.5;
    position: fixed;
    top: 0;
  }
}
.top-text-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  h1 {
    margin-bottom: -35vh;
    word-break: break-all;
  }
  .scroll-wrapper {
    margin-top: -20vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    .icon {
      img {
        height: 15px;
        position: absolute;
      }
    }
    .cta-wrapper {
      margin-top: 25px;
    }
  }
}
.main-section-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 10;
  .main-section {
    background-color: $body-bg;
    padding: 100px 0;
    position: relative;
    div {
      padding-bottom: 0 !important;
    }
    &.fixed {
      div {
        background: fixed center right / cover;
      }
    }
  }
  .image {
    min-height: 300px;
  }
  .projects {
    padding: 50px 0;
  }
  .img-wrapper {
      img {
        max-height: 125px;
        max-width: 90%;
        padding: 25px;
      }
  }
  .contact-form {
    padding-bottom: 75px;
  }
}
@mixin mobile-styles() {
  .top-text-wrapper {
    h1 {
      margin: 0 !important;
    }
    .scroll-wrapper {
      margin: 0 !important;
    }
  }
}
@include media-breakpoint-down(xs) {
  @include mobile-styles();
}
@media(max-height: 350px) {
  @include mobile-styles();
}
