.home {
  .name-wrapper {
    margin-top: -20vh;
  }
  .main-section-wrapper {
    padding-top: 70vh;
  }
  .scroll-wrapper {
    bottom: 18vh;
  }
}
.image-wrapper {
  position: relative;
  z-index: 0;
  img, .progressive-image-placeholder {
    height: 100vh;
    min-width: 100vw;
    opacity: 0.5;
    position: fixed;
    top: 0;
  }
}
.top {
  min-height: 75vh;
}
.name-wrapper {
  bottom: 50vh;
  position: absolute;
  z-index: 1;
  h1 {
    position: fixed;
    text-align: center;
    width: 100%;
  }
}
.scroll-wrapper {
  bottom: 45vh;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  text-align: center;
  .icon {
    height: 15px;
  }
  img {
    margin-bottom: 5px;
  }
}
.cta-wrapper {
  bottom: 25vh;
  position: fixed;
  width: 100%;
  div {
    margin: 0 auto;
  }
}
.main-section-wrapper {
  overflow: hidden;
  padding-top: 50vh;
  position: relative;
  z-index: 10;
  .main-section {
    background-color: $body-bg;
    padding: 100px 0;
    position: relative;
    div {
      padding-bottom: 0 !important;
    }
    &.fixed {
      div {
        background: fixed center right / cover;
      }
    }
  }
  .image {
    min-height: 300px;
  }
  .projects {
    padding: 50px 0;
  }
  .img-wrapper {
      img {
        max-height: 125px;
        max-width: 90%;
        padding: 25px;
      }
  }
  .contact-form {
    padding-bottom: 75px;
  }
}
@mixin mobile-styles() {
  .dev {
    .scroll-wrapper {
      bottom: 45vh;
    }
  }
  .name-wrapper {
    margin-top: 15vh;
  }
  .scroll-wrapper {
    bottom: 5vh;
  }
  .main-section-wrapper {
    padding-top: 10vh;
  }
}
@include media-breakpoint-down(sm) {
  @include mobile-styles();
}
@media(max-height: 575px) {
  @include mobile-styles();
}
